tantestdatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "tantestdatafactory"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"silver_linked_service_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'silver_linked_service'"
		},
		"dataFactory_properties_globalParameters_testglobal_value": {
			"type": "string",
			"defaultValue": "5"
		},
		"dataFactory_location": {
			"type": "string",
			"defaultValue": "westeurope"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://amazdatahubsadevwe.dfs.core.windows.net"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://amaz-datahub-kv-dev-we.vault.azure.net"
		},
		"DynamicsAX1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://amazerptest10v1030e64ee8f9243b62devaos.cloudax.dynamics.com/data"
		},
		"DynamicsAX1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "7cd654bb-7569-45b4-b7dc-cd9f1d80ba21"
		},
		"DynamicsAX1_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://amazerptest10v1030e64ee8f9243b62devaos.cloudax.dynamics.com"
		},
		"DynamicsAX1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "b306c362-8bf2-45c4-b05a-2c26a4cfb786"
		},
		"trigger1_properties_pipeline1_parameters_folder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"trigger1_properties_pipeline1_parameters_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/45bba087-f854-47cd-8526-0f962d0b34eb/resourceGroups/amaz-datahub-dev-we/providers/Microsoft.Storage/storageAccounts/amazdatahubsadevwe"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[parameters('factoryName')]",
			"type": "Microsoft.DataFactory/factories",
			"apiVersion": "2018-06-01",
			"properties": {
				"globalParameters": {
					"testglobal": {
						"type": "string",
						"value": "[parameters('dataFactory_properties_globalParameters_testglobal_value')]"
					}
				}
			},
			"dependsOn": [],
			"location": "[parameters('dataFactory_location')]"
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('silver_linked_service_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testzipdatasource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "invent_item_batch_samplefile.csv",
						"folderPath": "erp/inventitembatch",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dataAreaId",
						"type": "String"
					},
					{
						"name": "ItemNumber",
						"type": "String"
					},
					{
						"name": "BatchNumber",
						"type": "String"
					},
					{
						"name": "PrimaryVendorOriginCountryRegionId",
						"type": "String"
					},
					{
						"name": "BestBeforeDate",
						"type": "String"
					},
					{
						"name": "BatchDispositionCode",
						"type": "String"
					},
					{
						"name": "VendorBatchNumber",
						"type": "String"
					},
					{
						"name": "VendorBatchDate",
						"type": "String"
					},
					{
						"name": "BatchDescription",
						"type": "String"
					},
					{
						"name": "ManufacturingDate",
						"type": "String"
					},
					{
						"name": "VendorExpirationDate",
						"type": "String"
					},
					{
						"name": "BatchExpirationDate",
						"type": "String"
					},
					{
						"name": "ShelfLifeAdviceDate",
						"type": "String"
					},
					{
						"name": "SecondaryVendorOriginCountryRegionId",
						"type": "String"
					},
					{
						"name": "MostRecentTestDate",
						"type": "String"
					},
					{
						"name": "InventBatchRNumber_PIN",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicsAX1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "DynamicsAX",
				"typeProperties": {
					"url": "[parameters('DynamicsAX1_properties_typeProperties_url')]",
					"tenant": "[parameters('DynamicsAX1_properties_typeProperties_tenant')]",
					"aadResourceId": "[parameters('DynamicsAX1_properties_typeProperties_aadResourceId')]",
					"servicePrincipalId": "[parameters('DynamicsAX1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "amaz-datahub-erp-odata-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/testtablesql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "silver_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DataAreaId",
						"type": "varchar"
					},
					{
						"name": "ItemNumber",
						"type": "varchar"
					},
					{
						"name": "BatchNumber",
						"type": "varchar"
					},
					{
						"name": "BatchExpirationDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "VendorBatchNumber",
						"type": "varchar"
					},
					{
						"name": "VendorExpirationDate",
						"type": "datetimeoffset",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "erp_inventitembatch"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/silver_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "folder",
							"value": {
								"value": "@replace(pipeline().parameters.folder,'bronze/','')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [dbo].[erp_inventitembatch]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dataAreaId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataAreaId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ItemNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ItemNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BatchNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BatchNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BatchExpirationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BatchExpirationDate",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										}
									},
									{
										"source": {
											"name": "VendorBatchNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorBatchNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VendorExpirationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorExpirationDate",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testzipdatasource",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@variables('folder')",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "testtablesql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"folder": {
						"type": "string",
						"defaultValue": "e"
					},
					"filename": {
						"type": "string",
						"defaultValue": "fsdf"
					}
				},
				"variables": {
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-31T18:56:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/testzipdatasource')]",
				"[concat(variables('factoryId'), '/datasets/testtablesql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"folder": "[parameters('trigger1_properties_pipeline1_parameters_folder')]",
							"filename": "[parameters('trigger1_properties_pipeline1_parameters_filename')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/bronze/blobs/erp/inventitembatch",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}