tantestdatafactory/PartialArmTemplates/ArmTemplate_9_21_2020_14_32_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "tantestdatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "folder",
							"value": {
								"value": "@replace(pipeline().parameters.folder,'bronze/','')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [dbo].[erp_inventitembatch]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dataAreaId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataAreaId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ItemNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ItemNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BatchNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BatchNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BatchExpirationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BatchExpirationDate",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										}
									},
									{
										"source": {
											"name": "VendorBatchNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorBatchNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VendorExpirationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorExpirationDate",
											"type": "DateTimeOffset",
											"physicalType": "datetimeoffset"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testzipdatasource",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@variables('folder')",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "testtablesql",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"folder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"variables": {
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-31T18:56:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		}
	]
}